*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.inner {
    display: flex;
}

.cv-left,
.right_cv {
      padding: 20px;
}

.cv-left {
    min-width: 40%;
    background-color: #4f4e52;
    color: #fff;
 
}
.cv-title {
    margin-bottom: 10px;
}
.surname {
    text-transform: uppercase;
}
.cv-job {
    font-size: 18px;
    margin-bottom: 30px;
}
.contacts,
.languages,
.skills,
.hobbies,
.about,
.certifications,
.education,
.experience
 {
    margin-bottom: 30px;
}
.title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contacts_items,
.hobbies_items,
.skills_items,
.languages_item,
.certifications_item {
    list-style: none;
}

.contacts_items:not(:last-child),
.hobbies_items:not(:last-child),
.skills_items:not(:last-child),
.languages_item:not(:last-child) {
    margin-bottom: 5px;
}

.right_cv {
    text-align: justify;
    background-color: #fff;
}

.certifications {
}
.certifications_list {
}
.certifications_item {
}
.education {
}
.education_list {
}
.education_item {
}
.experience {
}
.experience_list {
    margin-bottom: 10px;
}
.experience_title,
.experience_duration {
    margin-bottom: 5px;
}
.experince_company {
}
.experience_duration {
}
.education_item,
.experience_item {
    list-style-type: '\002D';
}